@implements IDisposable
@inject NavigationManager NavMan

<li class="nav-item">
    <a class="nav-link @ActiveCss()" href="@Link" >@DisplayName</a>
</li>

@code
{
    [Parameter] public string DisplayName { get; set; }

    [Parameter] public string Link { get; set; }

    [Parameter] public bool IsRoot { get; set; } = false;

    protected override void OnInitialized() =>
        NavMan.LocationChanged += OnLocationChanged;

    void IDisposable.Dispose() =>
        NavMan.LocationChanged -= OnLocationChanged;

    void OnLocationChanged(object sender, LocationChangedEventArgs args) =>
        StateHasChanged();

    void NavToLink() => NavMan.NavigateTo(Link);

    string ActiveCss()
    {
        if ((IsRoot && NavMan.Uri.EndsWith("/")) || NavMan.Uri.EndsWith(Link))
            return "active";
        return "";
    }
}