@page "/"
@page "/index"
@page "/home"

<div class="pong-game-background">
    <div class="pong-game-background-overlay" >
        <a href="Play" class="btn btn-outline-light btn-lg" style="padding: 10px 40px">Play!</a>
    </div>
</div>